.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .pagination button {
    background-color: #fff;
    color: #000;
    border: 2px solid #000;
    padding: 10px 15px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 0.625rem;
    font-family: Noto Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  
  .pagination button.active {
    background-color: #000;
    color: #fff;
  }
  
  .pagination button:disabled {
    background-color: #000;
    border-color: #000;
    cursor: not-allowed;

  }
  