.BuyPage {
    display: flex;
    width: 600px;
    flex-direction: column;
    align-items: start;
    padding-top: 30px;
    height: auto;
    margin: 0 auto;
    text-align: start;
    display: flex;
    flex-direction: column;
    border-radius: 2.4375rem;
    background: var(--white, whitesmoke);
    box-shadow: 3px 3px 10px 2px rgba(0, 0, 0, 0.25);
}

.line {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-left: 30px;
}

.text {
    width: 140px;
    margin-right: 10px;
}

.input {
    width: 300px;
}

.buyButtonArea{
    display: flex;
    margin: 30px;
    align-self: flex-end;
}

.buyButton{
    width: 8rem;
    height: 2.5rem;
    flex-shrink: 0;
    border-radius: 0.625rem;
    background: var(--Main-Green, #214C2D);
    color: var(--white, #FFF);
    font-family: Noto Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.searchButton {
    width: 4rem;
    height: 2rem;
    flex-shrink: 0;
    border-radius: 0.625rem;
    background: var(--Main-Green, #214C2D);
    color: var(--white, #FFF);
    font-family: Noto Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 10px;
}
