/* Header.module.css */

.main_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  background-color: #214c2d;
}

.header_logo {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 800;
  color: white;
  font-size: 30px;
  text-decoration: none;
  letter-spacing: 2px;
}

.header_nav ul li a {
  text-decoration: none;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 600;
  color: white;
  font-size: 15px;
  letter-spacing: 1.5px;
}

.header_nav ul li {
  list-style-type: none;
}

.header_nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* li 요소 사이의 간격을 추가 (선택 사항) */
.header_nav ul li {
  margin-left: 30px; /* 원하는 간격값으로 조정 */
}
