.inner {
  padding: 60px 50px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inner label {
  display: inline-block;
  text-align: center;
  width: 100px;
}

.sign_header {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 600;
  color: black;
  font-size: 54px;
  word-wrap: break-word;
  margin: 40px 0px;
  justify-content: center;
  align-items: center;
}

.inner input {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 500;
  width: 350px;
  padding: 8px 15px;
  margin-top: 15px;
  font-size: 16px;
  border-radius: 7px;
  border: 2px #214c2d solid;
}

input:focus {
  outline: 1px #214c2d solid;
  box-shadow: 0 0 5px #214c2d;
}

.login_more {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  font-size: 12px;
  margin-top: 8px;
  white-space: nowrap; /* 텍스트 줄 바꿈 방지 */
}

.login_more a,
.login_more p {
  display: inline; /* 인라인 요소로 변경하여 연결되도록 함 */
  margin-right: 5px; /* 요소 간 간격 설정 (원하는 간격으로 조절) */
  color: #aeaeae; /* 텍스트 색상 변경 */
  text-decoration: none; /* 밑줄 제거 */
}

input::placeholder {
  color: #aeaeae; /* 원하는 색상으로 변경 */
}

.check_button {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  background-color: #d9d9d9;
  padding: 8px 15px;
  margin-left: 10px;
  border: none;
  border-radius: 5px;
}

.sign_button {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  font-size: 16px;
  display: block;
  padding: 8px 15px;
  margin: 20px 0px;
  position: relative;
  width: 400px;
  text-align: center;
  color: #fff;
  border: none;
  transition: all 0.2s;
  background: linear-gradient(180deg, #214c2d 0%, #253129 100%);
  border-radius: 5px;
}

.sign_button:hover {
  letter-spacing: 1px;
  transform: scale(1.1);
  cursor: pointer;
}

label {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 500;
  font-size: 16px;
  margin-right: 10px;
}

.alert {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 700;
  font-size: 10px;
  word-wrap: break-word;
  margin-left: 115px;
}

.alert.caution {
  color: #bf3e3e;
}

.alert.pass {
  color: #214c2d;
}

.password_toggle {
  cursor: pointer;
  color: #9a9a9a;
  font-size: 1.25rem;
  margin-left: -35px;
  margin-top: 27px;
  position: absolute;
}
