.shop {
  display: flex;
  flex-direction: column;
  background-color: #f8f3ed;
  align-content: center;
}

.Product {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ProductListArea {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  align-items: center;
}
.ProductList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.ProductTextArea {
  align-items: flex-end;
}

.ProductImgArea {
  width: 230px;
  height: 200px;
}

.ProductText {
  color: #000;
  font-family: Inter;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.SubmitButtonArea {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 30px;
  margin-right: 30px;
}

.SubmitButton {
  border-radius: 0.625rem;
  background: var(--Main-Green, #214c2d);
  color: white;
  font-family: Inter;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 500;
}

.SearchBarArea {
  display: flex;
  justify-content: center;
}
