.faq_background {
  background-color: #f8f3ed;
  padding: 100px 30px;
  width: 100vw;
  height: 100vh;
}

.content {
  margin: 0px 200px;
}

.faq_header {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 900;
  margin-bottom: 70px;
}

.faq_add_button {
  float: right;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 500;
  font-size: 18px;
  display: block;
  padding: 10px 15px;
  margin: 30px 0px 10px 0px;
  position: relative;
  width: 200px;
  text-align: center;
  color: #fff;
  border: none;
  transition: all 0.2s;
  background: #214c2d;
  border-radius: 5px;
}
