.ordercard {
  background: white;
  box-shadow: 3px 3px 10px 2px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  padding: 40px;
  display: flex; /* Flexbox 사용 */
  justify-content: flex-start; /* 요소들을 가로로 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
  margin: 0 20px 20px 20px;
}

.image {
  background-color: blueviolet;
  width: 220px;
  height: 220px;
  border-radius: 5px;
}

.inner_text {
  margin-left: 40px;
  width: 100%;
  white-space: nowrap;
}

.inner_text b {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 600;
  font-size: 20px;
}

.inner_text p {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 600;
  margin-bottom: 5px;
  text-align: left;
}

.user_data {
  background-color: #d9d9d9;
  display: flex;
  flex-direction: column;
  padding: 10px;
  flex: 1;
  margin-top: 10px;
  white-space: nowrap;
}

.price {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 5px;
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.review_button {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  background-color: #d9d9d9;
  white-space: nowrap;
  width: 100px;
  color: black;
  margin-top: auto;
  border: none;
  border-radius: 5px;
  margin-left: 20px;
}
